@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border m-0 p-0;
    }
    html {
        @apply text-[62.5%];
    }
    body {
        @apply text-[1.4rem] leading-[1.5];
    }
}

:root {
    --height-header: 70px;
    --width-sidebar: 240px;

    --bg-color-sidebar: #221a2d;
    --bg-color-header: #170f23;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3a3434;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    display: block;
}
